<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>active_indicator</key>
            <dict>
                <key>frame</key>
                <string>{{324,844},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>fruit_01</key>
            <dict>
                <key>frame</key>
                <string>{{1325,758},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fruit_02</key>
            <dict>
                <key>frame</key>
                <string>{{818,1296},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_03</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1816},{72,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_04</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1052},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_05</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1890},{78,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_06</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1662},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_07</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1192},{56,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_08</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1662},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_09</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1745},{76,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_10</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1134},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_11</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1073},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_12</key>
            <dict>
                <key>frame</key>
                <string>{{1286,970},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_13</key>
            <dict>
                <key>frame</key>
                <string>{{868,931},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_14</key>
            <dict>
                <key>frame</key>
                <string>{{868,849},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_15</key>
            <dict>
                <key>frame</key>
                <string>{{1325,806},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_16</key>
            <dict>
                <key>frame</key>
                <string>{{880,629},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_17</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1692},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_18</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1690},{80,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>fruit_19</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1742},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>game01_thumbnail</key>
            <dict>
                <key>frame</key>
                <string>{{972,249},{225,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,419}}</string>
                <key>sourceSize</key>
                <string>{227,419}</string>
            </dict>
            <key>game02_thumbnail</key>
            <dict>
                <key>frame</key>
                <string>{{1411,15},{227,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,419}}</string>
                <key>sourceSize</key>
                <string>{227,419}</string>
            </dict>
            <key>game03_thumbnail</key>
            <dict>
                <key>frame</key>
                <string>{{1393,244},{225,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,419}}</string>
                <key>sourceSize</key>
                <string>{227,419}</string>
            </dict>
            <key>game04_thumbnail</key>
            <dict>
                <key>frame</key>
                <string>{{972,22},{225,419}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,419}}</string>
                <key>sourceSize</key>
                <string>{227,419}</string>
            </dict>
            <key>img_balloon_01</key>
            <dict>
                <key>frame</key>
                <string>{{880,324},{86,126}}</string>
                <key>offset</key>
                <string>{-1,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,271},{86,126}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_02</key>
            <dict>
                <key>frame</key>
                <string>{{868,711},{94,136}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,261},{94,136}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_03</key>
            <dict>
                <key>frame</key>
                <string>{{692,1899},{104,146}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,251},{104,146}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{114,156}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,241},{114,156}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_05</key>
            <dict>
                <key>frame</key>
                <string>{{1341,1656},{124,168}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,229},{124,168}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_06</key>
            <dict>
                <key>frame</key>
                <string>{{512,1912},{134,178}}</string>
                <key>offset</key>
                <string>{-1,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,219},{134,178}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_07</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1855},{144,188}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,209},{144,188}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_08</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1391},{154,198}}</string>
                <key>offset</key>
                <string>{-1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,199},{154,198}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_09</key>
            <dict>
                <key>frame</key>
                <string>{{798,1884},{162,210}}</string>
                <key>offset</key>
                <string>{-1,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,187},{162,210}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_10</key>
            <dict>
                <key>frame</key>
                <string>{{980,1633},{174,220}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,177},{174,220}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_11</key>
            <dict>
                <key>frame</key>
                <string>{{324,306},{184,230}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,167},{184,230}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_12</key>
            <dict>
                <key>frame</key>
                <string>{{799,1391},{194,240}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,157},{194,240}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_13</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{202,250}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,147},{202,250}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_14</key>
            <dict>
                <key>frame</key>
                <string>{{548,1635},{212,262}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,135},{212,262}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_15</key>
            <dict>
                <key>frame</key>
                <string>{{324,1638},{222,272}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,125},{222,272}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_16</key>
            <dict>
                <key>frame</key>
                <string>{{1814,254},{232,282}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,115},{232,282}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_17</key>
            <dict>
                <key>frame</key>
                <string>{{505,1391},{242,292}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,105},{242,292}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_18</key>
            <dict>
                <key>frame</key>
                <string>{{1737,854},{252,304}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,93},{252,304}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_19</key>
            <dict>
                <key>frame</key>
                <string>{{1777,538},{262,314}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,83},{262,314}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_20</key>
            <dict>
                <key>frame</key>
                <string>{{512,938},{270,324}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,73},{270,324}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_21</key>
            <dict>
                <key>frame</key>
                <string>{{950,910},{280,334}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,63},{280,334}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_22</key>
            <dict>
                <key>frame</key>
                <string>{{1391,781},{290,344}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,53},{290,344}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_23</key>
            <dict>
                <key>frame</key>
                <string>{{512,636},{300,354}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,43},{300,354}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_24</key>
            <dict>
                <key>frame</key>
                <string>{{512,324},{310,366}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,31},{310,366}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_01</key>
            <dict>
                <key>frame</key>
                <string>{{1393,471},{308,382}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{308,382}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_02</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{320,458}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,458}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_03</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_04</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_05</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_06</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_balloon_broken_07</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{302,184}}</string>
                <key>offset</key>
                <string>{-5,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,51},{302,184}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>img_button_back</key>
            <dict>
                <key>frame</key>
                <string>{{1325,692},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>img_button_bgmusic</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1511},{76,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,106}}</string>
                <key>sourceSize</key>
                <string>{76,106}</string>
            </dict>
            <key>img_button_focus</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1205},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>img_button_help</key>
            <dict>
                <key>frame</key>
                <string>{{1263,1682},{76,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{76,104}</string>
            </dict>
            <key>img_button_login</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1668},{75,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,104}}</string>
                <key>sourceSize</key>
                <string>{75,104}</string>
            </dict>
            <key>img_button_logout</key>
            <dict>
                <key>frame</key>
                <string>{{1754,1613},{75,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,104}}</string>
                <key>sourceSize</key>
                <string>{75,104}</string>
            </dict>
            <key>img_button_more</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1613},{77,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,104}}</string>
                <key>sourceSize</key>
                <string>{77,104}</string>
            </dict>
            <key>img_button_science</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1760},{74,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>img_button_switch</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1589},{77,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,105}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>img_button_theme01</key>
            <dict>
                <key>frame</key>
                <string>{{324,1332},{304,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,179}}</string>
                <key>sourceSize</key>
                <string>{304,179}</string>
            </dict>
            <key>img_button_theme02</key>
            <dict>
                <key>frame</key>
                <string>{{512,1210},{304,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,179}}</string>
                <key>sourceSize</key>
                <string>{304,179}</string>
            </dict>
            <key>img_button_theme03</key>
            <dict>
                <key>frame</key>
                <string>{{324,538},{304,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,182}}</string>
                <key>sourceSize</key>
                <string>{304,182}</string>
            </dict>
            <key>img_button_theme04</key>
            <dict>
                <key>frame</key>
                <string>{{324,1026},{304,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,179}}</string>
                <key>sourceSize</key>
                <string>{304,179}</string>
            </dict>
            <key>img_button_theme05</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1073},{304,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,178}}</string>
                <key>sourceSize</key>
                <string>{304,178}</string>
            </dict>
            <key>img_button_theme06</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1287},{304,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,177}}</string>
                <key>sourceSize</key>
                <string>{304,177}</string>
            </dict>
            <key>img_button_theme07</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1253},{304,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,177}}</string>
                <key>sourceSize</key>
                <string>{304,177}</string>
            </dict>
            <key>img_button_theme08</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1108},{304,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,177}}</string>
                <key>sourceSize</key>
                <string>{304,177}</string>
            </dict>
            <key>img_button_unfocus</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1155},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>img_button_volume+</key>
            <dict>
                <key>frame</key>
                <string>{{838,1013},{76,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,108}}</string>
                <key>sourceSize</key>
                <string>{76,108}</string>
            </dict>
            <key>img_button_volume-</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1682},{76,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,105}}</string>
                <key>sourceSize</key>
                <string>{76,105}</string>
            </dict>
            <key>img_gameover</key>
            <dict>
                <key>frame</key>
                <string>{{1331,476},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>img_letter_a</key>
            <dict>
                <key>frame</key>
                <string>{{946,1192},{193,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,197}}</string>
                <key>sourceSize</key>
                <string>{193,197}</string>
            </dict>
            <key>img_letter_b</key>
            <dict>
                <key>frame</key>
                <string>{{1141,1192},{166,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,197}}</string>
                <key>sourceSize</key>
                <string>{166,197}</string>
            </dict>
            <key>img_letter_c</key>
            <dict>
                <key>frame</key>
                <string>{{995,1391},{167,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,201}}</string>
                <key>sourceSize</key>
                <string>{167,201}</string>
            </dict>
            <key>img_letter_d</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1466},{179,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,194}}</string>
                <key>sourceSize</key>
                <string>{179,194}</string>
            </dict>
            <key>img_letter_e</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1466},{145,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,195}}</string>
                <key>sourceSize</key>
                <string>{145,195}</string>
            </dict>
            <key>img_letter_s</key>
            <dict>
                <key>frame</key>
                <string>{{762,1635},{216,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,247}}</string>
                <key>sourceSize</key>
                <string>{216,247}</string>
            </dict>
            <key>img_level_arrow</key>
            <dict>
                <key>frame</key>
                <string>{{1309,1272},{39,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,111}}</string>
                <key>sourceSize</key>
                <string>{39,111}</string>
            </dict>
            <key>img_levels</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1432},{297,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,77}}</string>
                <key>sourceSize</key>
                <string>{297,77}</string>
            </dict>
            <key>img_new_record</key>
            <dict>
                <key>frame</key>
                <string>{{160,1930},{350,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,113}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>img_number_01</key>
            <dict>
                <key>frame</key>
                <string>{{880,452},{83,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,175}}</string>
                <key>sourceSize</key>
                <string>{83,175}</string>
            </dict>
            <key>img_number_02</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1511},{143,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,175}}</string>
                <key>sourceSize</key>
                <string>{143,175}</string>
            </dict>
            <key>img_number_03</key>
            <dict>
                <key>frame</key>
                <string>{{1164,1547},{133,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,175}}</string>
                <key>sourceSize</key>
                <string>{133,175}</string>
            </dict>
            <key>img_skip</key>
            <dict>
                <key>frame</key>
                <string>{{965,476},{364,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,76}}</string>
                <key>sourceSize</key>
                <string>{364,76}</string>
            </dict>
            <key>img_speaker</key>
            <dict>
                <key>frame</key>
                <string>{{1942,1740},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img_start</key>
            <dict>
                <key>frame</key>
                <string>{{838,1091},{203,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,106}}</string>
                <key>sourceSize</key>
                <string>{203,106}</string>
            </dict>
            <key>list_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1325,888},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>list_item_segment</key>
            <dict>
                <key>frame</key>
                <string>{{1832,15},{70,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,4}}</string>
                <key>sourceSize</key>
                <string>{70,4}</string>
            </dict>
            <key>powerwindmill</key>
            <dict>
                <key>frame</key>
                <string>{{965,554},{358,354}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{358,354}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>progress_bg</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{437,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,18}}</string>
                <key>sourceSize</key>
                <string>{437,18}</string>
            </dict>
            <key>progress_fg</key>
            <dict>
                <key>frame</key>
                <string>{{1411,2},{431,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{431,11}}</string>
                <key>sourceSize</key>
                <string>{433,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81ecf2fa2a3046aa7a0e004d6fb34106$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
